

:root {
    --primarytealbluedefault: rgba(0, 84, 113, 1);
    --primarytealbluedark: rgba(0, 57, 79, 1);
    --primarytealbluelight: rgba(102, 216, 255, 1);
    --primarytealblueshade: rgba(224, 247, 255, 1);
    --secondaryreddefault: rgba(236, 0, 0, 1);
    --secondaryreddark: rgba(133, 0, 0, 1);
    --secondaryredlight: rgba(255, 102, 102, 1);
    --secondaryredshade: rgba(255, 219, 219, 1);
    --accent-1purpledefault: rgba(154, 0, 79, 1);
    --accent-1purpledark: rgba(97, 0, 50, 1);
    --accent-1purplelight: rgba(255, 66, 163, 1);
    --accent-1purpleshade: rgba(255, 219, 238, 1);
    --accent-2mustarddefault: rgba(208, 176, 71, 1);
    --accent-2mustarddak: rgba(114, 94, 29, 1);
    --accent-2mustardlight: rgba(222, 199, 125, 1);
    --accent-2mustardshade: rgba(245, 238, 214, 1);
    --anthraciteblack: rgba(0, 7, 21, 1);
    --anthracite-100: rgba(88, 94, 106, 1);
    --anthracite-80: rgba(129, 137, 151, 1);
    --anthracite-60: rgba(157, 163, 174, 1);
    --anthracite-40: rgba(191, 195, 202, 1);
    --anthracite-20: rgba(219, 221, 225, 1);
    --anthracite-10: rgba(235, 237, 239, 1);
    --anthracitewhite: rgba(244, 244, 245, 1);
    --infodefault: rgba(9, 72, 165, 1);
    --infolight: rgba(76, 144, 246, 1);
    --infodark: rgba(5, 42, 97, 1);
    --infoshade: rgba(226, 237, 253, 1);
    --successdefault: rgba(25, 133, 82, 1);
    --successlight: rgba(34, 180, 111, 1);
    --successdark: rgba(17, 90, 56, 1);
    --successshade: rgba(241, 250, 229, 1);
    --warningdefault: rgba(220, 167, 9, 1);
    --warninglight: rgba(247, 204, 74, 1);
    --warningdark: rgba(129, 97, 4, 1);
    --warningshade: rgba(254, 245, 221, 1);
    --dangerdefault: rgba(204, 48, 61, 1);
    --dangerlight: rgba(220, 106, 116, 1);
    --dangerdark: rgba(111, 27, 34, 1);
    --dangershade: rgba(249, 230, 232, 1);
    --backgroundgrey: rgba(68, 68, 68, 1);
    --background-100: rgba(94, 94, 94, 1);
    --background-80: rgba(128, 128, 128, 1);
    --background-60: rgba(161, 161, 161, 1);
    --background-40: rgba(196, 196, 196, 1);
    --background-20: rgba(212, 212, 212, 1);
    --background-10: rgba(235, 235, 235, 1);
    --background-1: rgba(247, 247, 247, 1);
    --backgroundwhite: rgba(255, 255, 255, 1);
    --display-h1-font-family: "Santander Headline", Helvetica;
    --display-h1-font-weight: 700;
    --display-h1-font-size: 28px;
    --display-h1-letter-spacing: 0px;
    --display-h1-line-height: 32px;
    --display-h1-font-style: normal;
    --display-h2-font-family: "Santander Headline", Helvetica;
    --display-h2-font-weight: 700;
    --display-h2-font-size: 24px;
    --display-h2-letter-spacing: 0px;
    --display-h2-line-height: 32px;
    --display-h2-font-style: normal;
    --display-h3-font-family: "Santander Headline", Helvetica;
    --display-h3-font-weight: 700;
    --display-h3-font-size: 20px;
    --display-h3-letter-spacing: 0px;
    --display-h3-line-height: 24px;
    --display-h3-font-style: normal;
    --display-h4-font-family: "Santander Headline", Helvetica;
    --display-h4-font-weight: 700;
    --display-h4-font-size: 18px;
    --display-h4-letter-spacing: 0px;
    --display-h4-line-height: 24px;
    --display-h4-font-style: normal;
    --display-body-1-font-family: "Santander Headline", Helvetica;
    --display-body-1-font-weight: 400;
    --display-body-1-font-size: 18px;
    --display-body-1-letter-spacing: 0px;
    --display-body-1-line-height: 24px;
    --display-body-1-font-style: normal;
    --display-body-2-font-family: "Santander Headline", Helvetica;
    --display-body-2-font-weight: 400;
    --display-body-2-font-size: 16px;
    --display-body-2-letter-spacing: 0px;
    --display-body-2-line-height: 24px;
    --display-body-2-font-style: normal;
    --display-body-3-font-family: "Santander Headline", Helvetica;
    --display-body-3-font-weight: 400;
    --display-body-3-font-size: 14px;
    --display-body-3-letter-spacing: 0px;
    --display-body-3-line-height: 20px;
    --display-body-3-font-style: normal;
    --display-body-4-font-family: "Santander Headline", Helvetica;
    --display-body-4-font-weight: 400;
    --display-body-4-font-size: 12px;
    --display-body-4-letter-spacing: 0px;
    --display-body-4-line-height: 20px;
    --display-body-4-font-style: normal;
    --text-body-regular-regular-font-family: "Santander Text", Helvetica;
    --text-body-regular-regular-font-weight: 400;
    --text-body-regular-regular-font-size: 16px;
    --text-body-regular-regular-letter-spacing: 0px;
    --text-body-regular-regular-line-height: 24px;
    --text-body-regular-regular-font-style: normal;
    --text-body-regular-semibold-font-family: "Santander Text", Helvetica;
    --text-body-regular-semibold-font-weight: 600;
    --text-body-regular-semibold-font-size: 16px;
    --text-body-regular-semibold-letter-spacing: 0px;
    --text-body-regular-semibold-line-height: normal;
    --text-body-regular-semibold-font-style: normal;
    --text-body-regular-bold-font-family: "Santander Text", Helvetica;
    --text-body-regular-bold-font-weight: 700;
    --text-body-regular-bold-font-size: 16px;
    --text-body-regular-bold-letter-spacing: 0px;
    --text-body-regular-bold-line-height: normal;
    --text-body-regular-bold-font-style: normal;
    --text-body-medium-regular-font-family: "Santander Text", Helvetica;
    --text-body-medium-regular-font-weight: 400;
    --text-body-medium-regular-font-size: 14px;
    --text-body-medium-regular-letter-spacing: 0px;
    --text-body-medium-regular-line-height: normal;
    --text-body-medium-regular-font-style: normal;
    --text-body-medium-semibold-font-family: "Santander Text", Helvetica;
    --text-body-medium-semibold-font-weight: 600;
    --text-body-medium-semibold-font-size: 14px;
    --text-body-medium-semibold-letter-spacing: 0px;
    --text-body-medium-semibold-line-height: normal;
    --text-body-medium-semibold-font-style: normal;
    --text-body-medium-bold-font-family: "Santander Text", Helvetica;
    --text-body-medium-bold-font-weight: 700;
    --text-body-medium-bold-font-size: 14px;
    --text-body-medium-bold-letter-spacing: 0px;
    --text-body-medium-bold-line-height: normal;
    --text-body-medium-bold-font-style: normal;
    --text-body-small-semibold-font-family: "Santander Micro Text", Helvetica;
    --text-body-small-semibold-font-weight: 600;
    --text-body-small-semibold-font-size: 12px;
    --text-body-small-semibold-letter-spacing: 0px;
    --text-body-small-semibold-line-height: normal;
    --text-body-small-semibold-font-style: normal;
    --text-body-small-regular-font-family: "Santander Micro Text", Helvetica;
    --text-body-small-regular-font-weight: 400;
    --text-body-small-regular-font-size: 12px;
    --text-body-small-regular-letter-spacing: 0px;
    --text-body-small-regular-line-height: normal;
    --text-body-small-regular-font-style: normal;
    --text-body-small-bold-font-family: "Santander Micro Text", Helvetica;
    --text-body-small-bold-font-weight: 700;
    --text-body-small-bold-font-size: 12px;
    --text-body-small-bold-letter-spacing: 0px;
    --text-body-small-bold-line-height: normal;
    --text-body-small-bold-font-style: normal;
    --text-super-small-semibold-font-family: "Santander Micro Text", Helvetica;
    --text-super-small-semibold-font-weight: 600;
    --text-super-small-semibold-font-size: 12px;
    --text-super-small-semibold-letter-spacing: 0px;
    --text-super-small-semibold-line-height: 17px;
    --text-super-small-semibold-font-style: normal;
    --text-super-small-regular-font-family: "Santander Micro Text", Helvetica;
    --text-super-small-regular-font-weight: 400;
    --text-super-small-regular-font-size: 12px;
    --text-super-small-regular-letter-spacing: 0px;
    --text-super-small-regular-line-height: 16px;
    --text-super-small-regular-font-style: normal;
    --text-mini-regular-font-family: "Santander Micro Text", Helvetica;
    --text-mini-regular-font-weight: 400;
    --text-mini-regular-font-size: 10px;
    --text-mini-regular-letter-spacing: 0px;
    --text-mini-regular-line-height: normal;
    --text-mini-regular-font-style: normal;
    --text-mini-semibold-font-family: "Santander Micro Text", Helvetica;
    --text-mini-semibold-font-weight: 600;
    --text-mini-semibold-font-size: 10px;
    --text-mini-semibold-letter-spacing: 0px;
    --text-mini-semibold-line-height: normal;
    --text-mini-semibold-font-style: normal;
    --text-mini-bold-font-family: "Santander Micro Text", Helvetica;
    --text-mini-bold-font-weight: 700;
    --text-mini-bold-font-size: 10px;
    --text-mini-bold-letter-spacing: 0px;
    --text-mini-bold-line-height: normal;
    --text-mini-bold-font-style: normal;
    --link-regular-font-family: "Santander Headline", Helvetica;
    --link-regular-font-weight: 400;
    --link-regular-font-size: 16px;
    --link-regular-letter-spacing: 0px;
    --link-regular-line-height: 24px;
    --link-regular-font-style: normal;
    --link-semibold-font-family: "Santander Text", Helvetica;
    --link-semibold-font-weight: 600;
    --link-semibold-font-size: 16px;
    --link-semibold-letter-spacing: 0px;
    --link-semibold-line-height: normal;
    --link-semibold-font-style: normal;
    --link-small-regular-font-family: "Santander Headline", Helvetica;
    --link-small-regular-font-weight: 400;
    --link-small-regular-font-size: 14px;
    --link-small-regular-letter-spacing: 0px;
    --link-small-regular-line-height: 20px;
    --link-small-regular-font-style: normal;
    --link-small-semibold-font-family: "Santander Text", Helvetica;
    --link-small-semibold-font-weight: 600;
    --link-small-semibold-font-size: 14px;
    --link-small-semibold-letter-spacing: 0px;
    --link-small-semibold-line-height: normal;
    --link-small-semibold-font-style: normal;
    --CTA-default-font-family: "Santander Headline", Helvetica;
    --CTA-default-font-weight: 700;
    --CTA-default-font-size: 18px;
    --CTA-default-letter-spacing: 0px;
    --CTA-default-line-height: 24px;
    --CTA-default-font-style: normal;
    --CTA-medium-font-family: "Santander Text", Helvetica;
    --CTA-medium-font-weight: 600;
    --CTA-medium-font-size: 16px;
    --CTA-medium-letter-spacing: 0px;
    --CTA-medium-line-height: normal;
    --CTA-medium-font-style: normal;
    --CTA-small-font-family: "Santander Text", Helvetica;
    --CTA-small-font-weight: 600;
    --CTA-small-font-size: 14px;
    --CTA-small-letter-spacing: 0px;
    --CTA-small-line-height: normal;
    --CTA-small-font-style: normal;
    --elevation-light-1: 0px 1px 10px 0px rgba(68, 68, 68, 0.2);
}

:root {
    --primarytealbluedefault: rgba(0, 84, 113, 1);
    --primarytealbluedark: rgba(0, 57, 79, 1);
    --primarytealbluelight: rgba(102, 216, 255, 1);
    --primarytealblueshade: rgba(224, 247, 255, 1);
    --secondaryreddefault: rgba(236, 0, 0, 1);
    --secondaryreddark: rgba(133, 0, 0, 1);
    --secondaryredlight: rgba(255, 102, 102, 1);
    --secondaryredshade: rgba(255, 219, 219, 1);
    --accent-1purpledefault: rgba(154, 0, 79, 1);
    --accent-1purpledark: rgba(97, 0, 50, 1);
    --accent-1purplelight: rgba(255, 66, 163, 1);
    --accent-1purpleshade: rgba(255, 219, 238, 1);
    --accent-2mustarddefault: rgba(208, 176, 71, 1);
    --accent-2mustarddak: rgba(114, 94, 29, 1);
    --accent-2mustardlight: rgba(222, 199, 125, 1);
    --accent-2mustardshade: rgba(245, 238, 214, 1);
    --anthraciteblack: rgba(0, 7, 21, 1);
    --anthracite-100: rgba(88, 94, 106, 1);
    --anthracite-80: rgba(129, 137, 151, 1);
    --anthracite-60: rgba(157, 163, 174, 1);
    --anthracite-40: rgba(191, 195, 202, 1);
    --anthracite-20: rgba(219, 221, 225, 1);
    --anthracite-10: rgba(235, 237, 239, 1);
    --anthracitewhite: rgba(244, 244, 245, 1);
    --infodefault: rgba(9, 72, 165, 1);
    --infolight: rgba(76, 144, 246, 1);
    --infodark: rgba(5, 42, 97, 1);
    --infoshade: rgba(226, 237, 253, 1);
    --successdefault: rgba(25, 133, 82, 1);
    --successlight: rgba(34, 180, 111, 1);
    --successdark: rgba(17, 90, 56, 1);
    --successshade: rgba(241, 250, 229, 1);
    --warningdefault: rgba(220, 167, 9, 1);
    --warninglight: rgba(247, 204, 74, 1);
    --warningdark: rgba(129, 97, 4, 1);
    --warningshade: rgba(254, 245, 221, 1);
    --dangerdefault: rgba(204, 48, 61, 1);
    --dangerlight: rgba(220, 106, 116, 1);
    --dangerdark: rgba(111, 27, 34, 1);
    --dangershade: rgba(249, 230, 232, 1);
    --backgroundgrey: rgba(68, 68, 68, 1);
    --background-100: rgba(94, 94, 94, 1);
    --background-80: rgba(128, 128, 128, 1);
    --background-60: rgba(161, 161, 161, 1);
    --background-40: rgba(196, 196, 196, 1);
    --background-20: rgba(212, 212, 212, 1);
    --background-10: rgba(235, 235, 235, 1);
    --background-1: rgba(247, 247, 247, 1);
    --backgroundwhite: rgba(255, 255, 255, 1);
    --display-h1-font-family: "Santander Headline", Helvetica;
    --display-h1-font-weight: 700;
    --display-h1-font-size: 28px;
    --display-h1-letter-spacing: 0px;
    --display-h1-line-height: 32px;
    --display-h1-font-style: normal;
    --display-h2-font-family: "Santander Headline", Helvetica;
    --display-h2-font-weight: 700;
    --display-h2-font-size: 24px;
    --display-h2-letter-spacing: 0px;
    --display-h2-line-height: 32px;
    --display-h2-font-style: normal;
    --display-h3-font-family: "Santander Headline", Helvetica;
    --display-h3-font-weight: 700;
    --display-h3-font-size: 20px;
    --display-h3-letter-spacing: 0px;
    --display-h3-line-height: 24px;
    --display-h3-font-style: normal;
    --display-h4-font-family: "Santander Headline", Helvetica;
    --display-h4-font-weight: 700;
    --display-h4-font-size: 18px;
    --display-h4-letter-spacing: 0px;
    --display-h4-line-height: 24px;
    --display-h4-font-style: normal;
    --display-body-1-font-family: "Santander Headline", Helvetica;
    --display-body-1-font-weight: 400;
    --display-body-1-font-size: 18px;
    --display-body-1-letter-spacing: 0px;
    --display-body-1-line-height: 24px;
    --display-body-1-font-style: normal;
    --display-body-2-font-family: "Santander Headline", Helvetica;
    --display-body-2-font-weight: 400;
    --display-body-2-font-size: 16px;
    --display-body-2-letter-spacing: 0px;
    --display-body-2-line-height: 24px;
    --display-body-2-font-style: normal;
    --display-body-3-font-family: "Santander Headline", Helvetica;
    --display-body-3-font-weight: 400;
    --display-body-3-font-size: 14px;
    --display-body-3-letter-spacing: 0px;
    --display-body-3-line-height: 20px;
    --display-body-3-font-style: normal;
    --display-body-4-font-family: "Santander Headline", Helvetica;
    --display-body-4-font-weight: 400;
    --display-body-4-font-size: 12px;
    --display-body-4-letter-spacing: 0px;
    --display-body-4-line-height: 20px;
    --display-body-4-font-style: normal;
    --text-body-regular-regular-font-family: "Santander Text", Helvetica;
    --text-body-regular-regular-font-weight: 400;
    --text-body-regular-regular-font-size: 16px;
    --text-body-regular-regular-letter-spacing: 0px;
    --text-body-regular-regular-line-height: 24px;
    --text-body-regular-regular-font-style: normal;
    --text-body-regular-semibold-font-family: "Santander Text", Helvetica;
    --text-body-regular-semibold-font-weight: 600;
    --text-body-regular-semibold-font-size: 16px;
    --text-body-regular-semibold-letter-spacing: 0px;
    --text-body-regular-semibold-line-height: normal;
    --text-body-regular-semibold-font-style: normal;
    --text-body-regular-bold-font-family: "Santander Text", Helvetica;
    --text-body-regular-bold-font-weight: 700;
    --text-body-regular-bold-font-size: 16px;
    --text-body-regular-bold-letter-spacing: 0px;
    --text-body-regular-bold-line-height: normal;
    --text-body-regular-bold-font-style: normal;
    --text-body-medium-regular-font-family: "Santander Text", Helvetica;
    --text-body-medium-regular-font-weight: 400;
    --text-body-medium-regular-font-size: 14px;
    --text-body-medium-regular-letter-spacing: 0px;
    --text-body-medium-regular-line-height: normal;
    --text-body-medium-regular-font-style: normal;
    --text-body-medium-semibold-font-family: "Santander Text", Helvetica;
    --text-body-medium-semibold-font-weight: 600;
    --text-body-medium-semibold-font-size: 14px;
    --text-body-medium-semibold-letter-spacing: 0px;
    --text-body-medium-semibold-line-height: normal;
    --text-body-medium-semibold-font-style: normal;
    --text-body-medium-bold-font-family: "Santander Text", Helvetica;
    --text-body-medium-bold-font-weight: 700;
    --text-body-medium-bold-font-size: 14px;
    --text-body-medium-bold-letter-spacing: 0px;
    --text-body-medium-bold-line-height: normal;
    --text-body-medium-bold-font-style: normal;
    --text-body-small-semibold-font-family: "Santander Micro Text", Helvetica;
    --text-body-small-semibold-font-weight: 600;
    --text-body-small-semibold-font-size: 12px;
    --text-body-small-semibold-letter-spacing: 0px;
    --text-body-small-semibold-line-height: normal;
    --text-body-small-semibold-font-style: normal;
    --text-body-small-regular-font-family: "Santander Micro Text", Helvetica;
    --text-body-small-regular-font-weight: 400;
    --text-body-small-regular-font-size: 12px;
    --text-body-small-regular-letter-spacing: 0px;
    --text-body-small-regular-line-height: normal;
    --text-body-small-regular-font-style: normal;
    --text-body-small-bold-font-family: "Santander Micro Text", Helvetica;
    --text-body-small-bold-font-weight: 700;
    --text-body-small-bold-font-size: 12px;
    --text-body-small-bold-letter-spacing: 0px;
    --text-body-small-bold-line-height: normal;
    --text-body-small-bold-font-style: normal;
    --text-super-small-semibold-font-family: "Santander Micro Text", Helvetica;
    --text-super-small-semibold-font-weight: 600;
    --text-super-small-semibold-font-size: 12px;
    --text-super-small-semibold-letter-spacing: 0px;
    --text-super-small-semibold-line-height: 17px;
    --text-super-small-semibold-font-style: normal;
    --text-super-small-regular-font-family: "Santander Micro Text", Helvetica;
    --text-super-small-regular-font-weight: 400;
    --text-super-small-regular-font-size: 12px;
    --text-super-small-regular-letter-spacing: 0px;
    --text-super-small-regular-line-height: 16px;
    --text-super-small-regular-font-style: normal;
    --text-mini-regular-font-family: "Santander Micro Text", Helvetica;
    --text-mini-regular-font-weight: 400;
    --text-mini-regular-font-size: 10px;
    --text-mini-regular-letter-spacing: 0px;
    --text-mini-regular-line-height: normal;
    --text-mini-regular-font-style: normal;
    --text-mini-semibold-font-family: "Santander Micro Text", Helvetica;
    --text-mini-semibold-font-weight: 600;
    --text-mini-semibold-font-size: 10px;
    --text-mini-semibold-letter-spacing: 0px;
    --text-mini-semibold-line-height: normal;
    --text-mini-semibold-font-style: normal;
    --text-mini-bold-font-family: "Santander Micro Text", Helvetica;
    --text-mini-bold-font-weight: 700;
    --text-mini-bold-font-size: 10px;
    --text-mini-bold-letter-spacing: 0px;
    --text-mini-bold-line-height: normal;
    --text-mini-bold-font-style: normal;
    --link-regular-font-family: "Santander Headline", Helvetica;
    --link-regular-font-weight: 400;
    --link-regular-font-size: 16px;
    --link-regular-letter-spacing: 0px;
    --link-regular-line-height: 24px;
    --link-regular-font-style: normal;
    --link-semibold-font-family: "Santander Text", Helvetica;
    --link-semibold-font-weight: 600;
    --link-semibold-font-size: 16px;
    --link-semibold-letter-spacing: 0px;
    --link-semibold-line-height: normal;
    --link-semibold-font-style: normal;
    --link-small-regular-font-family: "Santander Headline", Helvetica;
    --link-small-regular-font-weight: 400;
    --link-small-regular-font-size: 14px;
    --link-small-regular-letter-spacing: 0px;
    --link-small-regular-line-height: 20px;
    --link-small-regular-font-style: normal;
    --link-small-semibold-font-family: "Santander Text", Helvetica;
    --link-small-semibold-font-weight: 600;
    --link-small-semibold-font-size: 14px;
    --link-small-semibold-letter-spacing: 0px;
    --link-small-semibold-line-height: normal;
    --link-small-semibold-font-style: normal;
    --CTA-default-font-family: "Santander Headline", Helvetica;
    --CTA-default-font-weight: 700;
    --CTA-default-font-size: 18px;
    --CTA-default-letter-spacing: 0px;
    --CTA-default-line-height: 24px;
    --CTA-default-font-style: normal;
    --CTA-medium-font-family: "Santander Text", Helvetica;
    --CTA-medium-font-weight: 600;
    --CTA-medium-font-size: 16px;
    --CTA-medium-letter-spacing: 0px;
    --CTA-medium-line-height: normal;
    --CTA-medium-font-style: normal;
    --CTA-small-font-family: "Santander Text", Helvetica;
    --CTA-small-font-weight: 600;
    --CTA-small-font-size: 14px;
    --CTA-small-letter-spacing: 0px;
    --CTA-small-line-height: normal;
    --CTA-small-font-style: normal;
    --elevation-light-1: 0px 1px 10px 0px rgba(68, 68, 68, 0.2);
}
